# Ignore compiled class files
*.class

# Ignore log files
*.log

# Ignore the build directories
/target/
/build/

/.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore dependency directories (for Maven or Gradle)
/lib/
/*.jar

# Ignore IntelliJ IDEA specific files
.idea/

# Ignore Eclipse specific files
.project
.classpath

.fake